<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870791210894-6h75d96ru2nls8hc2n0h70e8g5qcvg5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870791210894-6h75d96ru2nls8hc2n0h70e8g5qcvg5n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>870791210894-pputaom3aq61pbv6u3lnqbn76plg181n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyANgnITamT1jl2UqVoRObv3b6o12qNvpa4</string>
	<key>GCM_SENDER_ID</key>
	<string>870791210894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.musicRoomApp</string>
	<key>PROJECT_ID</key>
	<string>musicroom-27d72</string>
	<key>STORAGE_BUCKET</key>
	<string>musicroom-27d72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870791210894:ios:54c3feca089172f6a4e6df</string>
</dict>
</plist>